<div class="center-form">

    <div class="room-container">
        <div class="room-row" *ngFor="let room of rooms">
            <nz-card style="width:300px;margin:16px;" [nzActions]="[actionEdit]">
                <nz-skeleton [nzActive]="true" [nzLoading]="loading" [nzAvatar]="{ size: 'large' }">
                    <nz-card-meta [nzAvatar]="avatarTemplate" nzTitle="{{ room.name }}"
                        nzDescription="Type: {{ room.type }}">
                    </nz-card-meta>

                    <nz-card-meta style="margin-left:49px;" nzDescription="Price: {{ room.price }}">
                    </nz-card-meta>
                </nz-skeleton>
            </nz-card>

            <!-- Avatar Template -->
            <ng-template #avatarTemplate>
                <nz-avatar nzSrc="room.png">
                </nz-avatar>
            </ng-template>

            <!-- Edit Action Template -->
            <ng-template #actionEdit>
                <span nz-icon nzType="check-square" [nzTheme]="'twotone'" class="icon"
                    (click)="showModalMiddle(room.id,room.price)">
                </span>
            </ng-template>

        </div>
    </div>

    <div class="pagination">
        <nz-pagination [nzPageIndex]="currentPage" [nzTotal]="total" [nzPageSize]="1"
            (nzPageIndexChange)="pageIndexChange($event)">
        </nz-pagination>
    </div>
</div>

<nz-modal nzTitle="Book Room" nzCentered [(nzVisible)]="isVisibleMiddle" (nzOnCancel)="handleCancelMiddle()"
    (nzOnOk)="handleOkMiddle()">

    <ng-container *nzModalContent>
        <div class="modal-content">
            <nz-range-picker style="width:50%;" [(ngModel)]="date[0]" (ngModelChange)="onChange($event)"
                nzPlaceHolder="Start Date"></nz-range-picker>

            <nz-range-picker style="width:50%;" [(ngModel)]="date[1]" (ngModelChange)="onChange($event)"
                nzPlaceHolder="End Date"></nz-range-picker>
        </div>
    </ng-container>

</nz-modal>