<div class="center-form">
    <button nz-button nzType="primary" class="post-room-btn" routerLink="/admin/room">Post Room</button>

    <div class="room-container">
        <div class="room-row" *ngFor="let room of rooms">
            <nz-card style="width:300px;margin:16px;" [nzActions]="[actionEdit, actionDelete]">
                <nz-skeleton [nzActive]="true" [nzLoading]="loading" [nzAvatar]="{ size: 'large' }">
                    <nz-card-meta [nzAvatar]="avatarTemplate" nzTitle="{{ room.name }}"
                        nzDescription="Type: {{ room.type }}">
                    </nz-card-meta>

                    <nz-card-meta style="margin-left:49px;" nzDescription="Price: {{ room.price }}">
                    </nz-card-meta>
                </nz-skeleton>
            </nz-card>

            <!-- Avatar Template -->
            <ng-template #avatarTemplate>
                <nz-avatar nzSrc="room.png">
                </nz-avatar>
            </ng-template>

            <!-- Edit Action Template -->
            <ng-template #actionEdit>
                <span nz-icon nzType="edit" [nzTheme]="'twotone'" class="icon"
                    routerLink="/admin/room/{{room.id}}/edit">
                </span>
            </ng-template>

            <!-- Delete Action Template -->
            <ng-template #actionDelete>
                <span nz-icon nzType="delete" [nzTheme]="'twotone'" class="icon" (click)="showConfirm(room.id)">
                </span>
            </ng-template>
        </div>
    </div>

    <div class="pagination">
        <nz-pagination [nzPageIndex]="currentPage" [nzTotal]="total" [nzPageSize]="1"
            (nzPageIndexChange)="pageIndexChange($event)">
        </nz-pagination>
    </div>
</div>