<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px" *ngIf="!isAdminLoggedIn && !isCustomerLoggedIn">
    <div class="logo"><img src="favicon.ico" alt="Logo" class="logo" /></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/register">
        <span nz-icon nzType="user"></span>
        <span><strong>Register</strong></span>
      </li>
      <li nz-menu-item routerLink="/login">
        <span nz-icon nzType="login"></span>
        <span><strong>Login</strong></span>
      </li>
    </ul>
  </nz-sider>

  <nz-sider nzCollapsible nzWidth="200px" *ngIf="isAdminLoggedIn">
    <div class="logo"><img src="favicon.ico" alt="Logo" class="logo" /></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/admin/room">
        <span nz-icon nzType="apartment"></span>
        <span><strong>Post Room</strong></span>
      </li>
      <li nz-menu-item routerLink="/admin/dashboard">
        <span nz-icon nzType="apartment"></span>
        <span><strong>Rooms</strong></span>
      </li>
      <li nz-menu-item routerLink="/admin/reservations">
        <span nz-icon nzType="pull-request"></span>
        <span><strong>Reservations</strong></span>
      </li>
      <li nz-menu-item (click)="logout()">
        <span nz-icon nzType="logout"></span>
        <span><strong>Logout</strong></span>
      </li>
    </ul>
  </nz-sider>

  <nz-sider nzCollapsible nzWidth="200px" *ngIf="isCustomerLoggedIn">
    <div class="logo"><img src="favicon.ico" alt="Logo" class="logo" /></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/customer/rooms">
        <span nz-icon nzType="apartment"></span>
        <span><strong>Rooms</strong></span>
      </li>
      <li nz-menu-item routerLink="/customer/bookings">
        <span nz-icon nzType="pull-request"></span>
        <span><strong>Reservations</strong></span>
      </li>
      <li nz-menu-item (click)="logout()">
        <span nz-icon nzType="logout"></span>
        <span><strong>Logout</strong></span>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>

    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>

    <nz-footer></nz-footer>

  </nz-layout>

</nz-layout>