<div class="center-form">
    <h1 class="page-title">My Bookings</h1>
    <nz-table #basicTable [nzShowPagination]="false" [nzData]="bookings">
        <thead>
            <tr>
                <th>Room Name</th>
                <th>Room Type</th>
                <th>Check In Date</th>
                <th>Check Out Date</th>
                <th>Price</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let booking of basicTable.data">
                <td>{{booking.roomName}}</td>
                <td>{{booking.roomType}}</td>
                <td>{{booking.checkInDate}}</td>
                <td>{{booking.checkOutDate}}</td>
                <td>{{booking.price}}</td>
                <td>
                    <ng-container *ngIf="booking.reservationStatus === 'PENDING'">
                        <nz-tag nzColor="processing">
                            <span nz-icon nzType="sync" nzSpin></span>
                            <span>Pending</span>
                        </nz-tag>
                    </ng-container>
                    <ng-container *ngIf="booking.reservationStatus === 'APPROVED'">
                        <nz-tag nzColor="success">
                            <span nz-icon nzType="check-circle" nzSpin></span>
                            <span>Approved</span>
                        </nz-tag>
                    </ng-container>
                    <ng-container *ngIf="booking.reservationStatus === 'REJECTED'">
                        <nz-tag nzColor="error">
                            <span nz-icon nzType="close-circle" nzSpin></span>
                            <span>Rejected</span>
                        </nz-tag>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </nz-table>

    <div class="pagination">
        <nz-pagination (nzPageIndexChange)="pageIndexChange($event)" [nzPageIndex]="currentPage" [nzTotal]="total"
            [nzPageSize]="5"></nz-pagination>
    </div>
</div>