<div class="center-form">
    <img src="favicon.ico" alt="Logo" class="logo" />
    <h2>Enter Details to Register</h2>
    <form nz-form [formGroup]="registerForm" (ngSubmit)="submitForm()" class="custom-form">
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your name!">
                <nz-input-group nzPrefixIcon="idcard">
                    <input type="text" nz-input formControlName="name" placeholder="Enter name" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your email!">
                <nz-input-group nzPrefixIcon="mail">
                    <input type="text" nz-input formControlName="email" placeholder="Enter email" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your password!">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="password" placeholder="Enter password" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <button nz-button nzType="primary" nzBlock [disabled]="registerForm.invalid" class="w-100">
            Register
        </button>
    </form>
</div>
